.row {
  display: flex;
}

.field {
  width: 70px;
  height: 70px;
  background-color: green;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.clicked {
  cursor: not-allowed;
}

.field-o {
  color: white;
}

.app {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.status,
.board {
  margin-top: 20px;
  width: 300px;
  height: 250px;
}
